---
import BackToTop from "@components/BackToTop.astro";
import Container from "@components/Container.astro";
import Icon from "@components/Icon.astro";
import { SITE } from "@consts";

const year = new Date().getFullYear();
---

<footer class="animate">
  <Container>
    <div class="relative">
      <div class="absolute right-0 -top-20">
        <BackToTop />
      </div>
    </div>
    <div class="flex justify-between items-center">
      <div>
        &copy; {year} {`|`} {SITE.NAME}
      </div>
      <div class="flex flex-wrap gap-1 items-center">
        <button
          id="theme-toggle"
          aria-label="Toggle theme"
          class="group size-8 flex items-center justify-center rounded-full relative"
        >
          <div class="relative w-[18px] h-[18px]">
            <!-- Sun icon (Light theme) -->
            <Icon
              id="theme-toggle-light-icon"
              name="sun"
              size={18}
              class="absolute inset-0 group-hover:stroke-black group-hover:dark:stroke-white transition-all duration-300 ease-in-out"
            />
            <!-- Moon icon (Dark theme) -->
            <Icon
              id="theme-toggle-dark-icon"
              name="moon"
              size={18}
              class="absolute inset-0 group-hover:stroke-black group-hover:dark:stroke-white transition-all duration-300 ease-in-out"
            />
            <!-- Monitor icon (System theme) -->
            <Icon
              id="theme-toggle-system-icon"
              name="computer-desktop"
              size={18}
              class="absolute inset-0 group-hover:stroke-black group-hover:dark:stroke-white transition-all duration-300 ease-in-out"
            />
          </div>
        </button>
      </div>
    </div>
  </Container>
</footer>
